body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;

}

.app-container {
    max-width: 800px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    margin: 0;
}

.center-content {
    text-align: center;
}
